/*
    Copyright 2009,2010 Roland Bouman 
    (Roland.Bouman@gmail.com, http://rpbouman.blogspot.com/, http://code.google.com/p/xmla4js)
    
    qbm-pivot.css - this software is part of xmla4js

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/    
.olap-driller {
    font-family: monospace;
    cursor: pointer;
    padding:1px;
}

.olap-table {
    border-collapse: collapse;
    font-size:8pt;
    font-family: helvetica;
    padding: 2px;
}

.olap-data-cell {
    border-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    white-space: nowrap;
    padding: 2px;
    color: black;
    background-color: #FDFB98;
    background-image: url(bgleft1.png);
    background-repeat: repeat-y;
    text-align: right;
}

.olap-header-cell-gradient {
    background-image: url(bgtop3.png);
    background-repeat: repeat-x;
}

.olap-header-cell-hierarchy {
    font-weight: bold;
}
        
.olap-header-cell {
    text-align: left;
    background-color: #BBBBBB /* #06C9F8*/ ;
    border-width: 1px;
    border-color: #CCCCCC;
    white-space: nowrap;
    padding: 2px;
    color: black;
}

.olap-column-header-cell1 {
    border-style: solid none none none;
}

.olap-column-header-cell2 {
    border-style: solid none none solid;
}

.olap-column-header-cell3 {
    border-style: solid none solid none;
}

.olap-column-header-cell4 {
    border-style: none solid none solid;
}

.olap-vertical-space {
    font-family: monospace;
    border-style: none solid none solid;
}


.olap-hierarchy-node{
    background-image: url(hierarchy24.gif);    
    background-repeat: no-repeat;
    padding-left: 24px;
    padding-top: 5px;
    height: 25px;
    white-space: nowrap;
}

.olap-node-locked {
    color: rgb(200,200,200);
    font-weight: bold;
}

.olap-measures-node{
    background-image: url(measure24.gif);
    background-repeat: no-repeat;
    padding-left: 24px;
    padding-top: 5px;
    height: 25px;
    white-space: nowrap;
}

.qbm-rows-drop-zone {
    background-color: #BBBBBB /* #06C9F8*/ ;
    font-size:3px;
    width:3px;
}

.qbm-columns-drop-zone {
    background-color: #BBBBBB /* #06C9F8*/ ;
    font-size:3px;
    height:3px;
}

.drop-zone {
    background-color: #CCCCCC;
    font-size:0px;
    border-style:none;
    padding:1px;
    margin: 0px;
}

.rows-drop-zone {
}

.columns-drop-zone {
}